<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>

        <div class="jumbotron jumbotron-fluid py-3 mb-0 pb-0" id="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <h1 class="text-white">StudyCorner</h1>
                    </div>
                    <div class="col-lg-1 py-3">
                        <p><a href="/home" class="text-white">Home</a></p>
                       </div>
                       <div class="col-lg-1 py-3">
                        <p><a href="/home/my-profile" class="text-white">Profile</a></p>
                      </div>
                    <div class="col-lg-1 py-3">
                        <p><a href="/logout" class="text-white">Logout</a></p>
                    </div>
                </div>
            </div>
        </div>


      <br>

        <div class="row" id="GoogleMAP">
            <div class="col-lg-2"></div>
            <div class="col-lg-6">
                <h2 class="text-center">Teachers</h2>
            </div>
            <div class="col-lg-4 ml-0">
               
                    <button type="button" class="btn btn-danger btn-lg">
                        <a href="/home/findTeacher/map">
                             <i class="fa fa-map-marker text-white"> Use Google Map</i>
                         </a>
                     </button>
              
            </div>
        </div>
        
        <div class="container text-muted mt-5">
            <div class="row">
               
                    <% if(teacher.length> 0){ %>
                        <% teacher.forEach(teacher=> { %>
                            <div class="col-3">
                            <div class="card">
                                <img src="/images/default.jpg" class="card-img-top img-fluid" />
                                <div class="card-block">
                                    <% var s='/home/profile/' + teacher.id._id %>
                                    <a href="<%=s%>">
                                        <h4 class="text-center">
                                            <%= teacher.name %>
                                        </h4>
                                    </a>
                                    <p class=" text-center">Current batch strength : <%= teacher.curBatch%>
                                    </p>
                                    <p class="text-center">Maximum batch strength : <%= teacher.maxBatch%>
                                    </p>


                                </div>
                            </div>
                        </div>
                   

                            <% }) %>
                                <% }else{ %>
                                    <p>No teacher nearBy... </p>
                                    <% } %>
                                </div>
               
        </div>



        <%- include('./partials/footer.ejs') %>
    </body>

</html>