<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>StudyCorner | <%= title%></title>
        <link rel="stylesheet" href="/css/chat.css"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ec11d877c4.js" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <div class="chat-container">
            <header class="chat-header">
              <h1> Chat</h1>
              <a href="/home" class="btn">Leave Chat</a>
            </header>
            <div class="chat-messages">               
            </div>
            
            <div class="chat-form-container">
              <form id="chat-form">
                <input
                  id="msg"
                  type="text"
                  placeholder="Enter Message"
                  required
                  autocomplete="off"
                />
                <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
              </form>
            </div>
          </div>
          <div id="mydiv" data-test=<%= from._id %>></div>
          <div id="mydiv2" data-test=<%= to._id %>></div>
          <div id="mydiv3" data-test=<%= fromName %>></div>
          <div id="mydiv4" data-test=<%= toName %>></div>



     <script src="/socket.io/socket.io.js"></script>
     <script src="/js/message.js"></script>
    </body>
</html>