<html lang="en">
<%- include('./partials/header.ejs') %>

  <body>

    <div class="jumbotron jumbotron-fluid py-3 mb-0 pb-0" id="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <h1 class="text-white">StudyCorner</h1>
          </div>
          <div class="col-lg-1 py-3">
            <p><a href="/home" class="text-white font-weight-bold" id="anchor-tag">Home</a></p>
           </div>
           <div class="col-lg-1 py-3">
            <p><a href="/home/my-profile" class="text-white font-weight-bold" id="anchor-tag">Profile</a></p>
          </div>
          <div class="col-lg-1 py-3">
            <p><a href="/logout" class="text-white font-weight-bold" id="anchor-tag">Logout</a></p>
          </div>
        </div>
      </div>
    </div>


   <br>




    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="mt-4">
            <%= post.title%>
          </h1>
          <p class="lead">
            by
            <% var s='/home/profile/' + post.createdBy.id %>
           
                <a href="<%=s%>">
                  <%= post.createdBy.name%>
                </a>
          </p>

          <% let dat=new Date(post.createdAt) %>

            <p>Posted on <%= dat.getDate()%>-<%= dat.getMonth()+1 %>-<%= dat.getFullYear()%> 
            </p>
            <hr>


            <p class="lead">
              <%= post.content%>
            </p>

            <br>
            <br>
            <div class="row mb-2 ml-0">
              
            <button class="btn" id="like-button-click"><i class="fas fa-rocket fa-lg " id="like-button"></i></button>
            <h4 class="ml-2 "><%= post.likes%></h4>
          </div>
            
            

              <div class="">
                <form action="/home/<%= post._id%>" method="POST">
                  <div class="form-group">
                    <textarea id="edior" class="form-control" name="content" id="content" rows="3"
                      placeholder="Type your comment here...."></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              

              <h4>Comments : </h4>
            <div class="media mb-4">

              <div class="media-body">

                <% if(post.comments.length> 0){ %>
                  <% post.comments.forEach(comment=>{ %>


                    <p class="mt-0">
                     by <a href="<%= '/home/profile/' + comment.createdBy.id._id %>"><%= comment.createdBy.name%></a>
                    </p>
                    <p class="mt-0">
                      <%= comment.content%>
                    </p>
                    <hr />
                    <% }) %>
                      <% }else{ %>
                        <p>No comments ... </p>
                        <% } %>


              </div>
            </div>



        </div>


        <div class="col-md-4">




          <div class="card my-4">
            <h5 class="card-header">Tags</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">
                        <%= post.tags[0]%>
                      </a>
                    </li>

                  </ul>
                </div>

              </div>
            </div>
          </div>



        </div>

      </div>


    </div>






    
    <script>
      var post_id = '<%- post._id %>';
      const data = {post_id};
      document.getElementById("like-button-click").onclick = async () => {
        var options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            };

            const resp = await fetch('/api/likes' , options);
            const result = await resp.text();
      }
    </script>
    <%- include('./partials/footer.ejs') %>
  </body>

</html>