<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile | <%= user1.name %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ec11d877c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="jumbotron jumbotron-fluid py-3 mb-0 pb-0"  id="header" >
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="text-white">StudyCorner</h1>
                </div>
                <div class="col-lg-1 py-3">
                    <p><a href="/home" class="text-white font-weight-bold" id="anchor-tag">Home</a></p>
                   </div>
                   <div class="col-lg-1 py-3">
                    <p><a href="/home/my-profile" class="text-white font-weight-bold" id="anchor-tag">Profile</a></p>
                  </div>
                <div class="col-lg-1 py-3">
                    <p><a href="/logout" class="text-white font-weight-bold" id="anchor-tag">Logout</a></p>
                </div>
            </div>
        </div>
    </div>


    <br>




    <div class="row py-5 px-4">
        <div class="col-md-5 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3"><img src="/images/default.jpg" alt="..." width="120"
                                class="rounded mb-2 img-thumbnail"><a href="#"
                                class="btn btn-outline-dark btn-sm btn-block">Edit profile</a></div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0 text-danger">
                                <%= user1.name %>
                            </h4>
                            <%var str = '/api/message/' + user1._id %>
                            <% if(check) {%>
                                <button type="button" class="btn btn-success float-lg-right " id="message"><a class="text-white" style = "text-decoration: none;" href=<%= str%>>Message</a></button>
                            <% } %>
                            <% if(user1.role==='Teacher' ){ %>
                                <button type="button" class="btn btn-success float-lg-right mr-1" id="subscribe">Join</button>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h4>
                                <%= user1.role%>
                            </h4>
                            <% if(user1.role==='Teacher' ){ %>
                                <p>Current batch strength : <%= teacher.curBatch %></p>
                                <p>Maximum batch strength : <%= teacher.maxBatch %></p>


                                <% } %>
                        </li>

                    </ul>
                </div>

                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-5">All posts</h5>
                    </div>
                    <% if((user1.posts).length> 0){ %>
                        <% (user1.posts).forEach(post=> { %>
                            <div class="ml-2 mb-3">
                               
                                    <% let dat=new Date(post.createdAt) %>
                                    <% let dat2 = Date.now() %>
                                    <% let diffTime = Math.abs(dat2 - dat) %>
                                    <% let diffDays = Math.ceil(diffTime/(1000*60*60*24))%>
                                    <h4>
                                        <a href="/home/<%=post._id %>" id="post-anchor">
                                        <%= post.title%>
                                        </a>
                                    </h4>
                               
                               
                                <% if (diffDays == 1) {%>
                                    <p>Today</p>
                                 <% }else{%>
                                    <p><%= diffDays - 1%> Days ago</p>
                                <% } %>
                               
                            </div>
                            <hr />
                           
                            <% }) %>
                                <% }else{ %>
                                    <p>No posts... </p>
                                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <script>
        
        var email = '<%- user1.email %>';
        const data = { email };
        document.getElementById("subscribe").onclick = async () => {
            var options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            };

            const resp = await fetch('/home/join' , options);
            const result = await resp.text();
            alert(result)
          
            


        }


       
    </script>

    <%- include('./partials/footer.ejs') %>

        
</body>

</html>